PRIVATE_KEY=                # The private key of the account to use for the market maker.
RPC_URL=                    # The RPC URL to use for the market maker.
CLOB_API_URL=               # The CLOB API URL to use for the market maker.
